### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Maui files
*/bin/Debug/*
*/bin/Release/*
*/obj/.cache/*
*/obj/Debug/*
*/obj/Release/*
*/obj/*.json
*/obj/*.props
*/obj/*.targets
*/obj/*.info
*/obj/*.cache